---
layout: homepage
---

## About Me

I am an Assistant Professor in the CS department at the <a href="https://eng.ua.edu/departments/computer-science/">University of Alabama</a> and a faculty affiliate of  <a href="https://ai.eng.ua.edu/"> Alabama Center for the Advancement of AI
(ALA-AI)</a> and Alabama Cyber Institution & HPC. I have received my Ph.D. in CS from the <a href="https://web.cs.dartmouth.edu/">Dartmouth College</a>. Prior to that, I have worked on AI/ML and Security/Privacy with <a href="https://lanl.gov/">Los Alamos National Laboratory (LANL)</a> and <a href="https://www.finra.org/">Financial Regulatory Authority (FINRA)</a>. Before joining Dartmouth, I received my MS in CS from the <a href="https://www1.cs.ucr.edu/">University of California, Riverside</a>. 
My research interests span the areas of Deep Learning, Computer Vision, and Secure & Trustworthy AI/ML modeling.  In particular, I am (1) analyzing data-driven AI/ML systems, including foundation models  (e.g., LLMs and Multimodal systems), and (2) focusing on security and privacy aspects of the data involved in traditional ML as well as foundational models to investigate attacks (adversarial and privacy) and develop novel defense techniques to enhance robustness. My research spans various data modalities, including images, tabular, audio, and text data.\\

In my free time, I love to travel to new places.\\

<p style="color:red">I am looking for highly motivated students (undergraduate and graduate) to work with me at the <a href="https://www.ua.edu/">University of Alabama</a>, trustworthy AI Lab. If interested, you are welcome to fill out this form and email me (<a href="sdibbo@ua.edu">sdibbo@ua.edu</a>) with the subject line "Prospective AI/ML/Cyber Student" along with your CV/Resume, Transcript, and GRE scores (if available). </p>

Please find the list of ongoing projects my team is working on: <a href="https://github.com/SayantonDibbo/SayantonDibbo.github.io/blob/main/assets/files/TrustAI-Projects.pdf">project description</a>


## Research Interests

- **Machine Learning:** Trustworthy AI/ML Modeling
- **Security/Privacy:** Adversarial and Privacy Attacks/Defenses
- **Computer Vision:** Improving Computer Vision Model Robustness
- **LLMs and Multimodal Modeling:** Robustness, Bias, Memorization, and Fairness of LLMs & Multimodal Models
- **Authentication:** Biometric-based user authentication

## Education
- **PhD in CS** Dartmouth College (2020-2025)
- **MS in CS** University of California, Riverside (2017-2019)

## Appointments
- **Graduate Research Intern (LLM & Multimodal Modeling)** Los Alamos National Lab (Summer 2024)
- **Graduate Research Intern (AI Assurance & Cybersecurity)** Los Alamos National Lab (Summer 2023)
- **Graduate Research Intern (AI/ML & Cybersecurity)** Financial Industry Regulatory Authority (Summer 2022)
- **Graduate Research & Teaching Assistant & Cybersecurity Cluster Research Fellow** Dartmouth College (2020-2025)
- **Research Intern** Dartmouth College (Fall 2019-Summer 2020)


## News

- **[Jan. 2025]** Accepted Tenure Track Assistant Prof. @University of Alabama CS starting Fall 2025.
- **[Aug. 2024]** Accepted Dissertation @ACM CCS'24 and @ECCV'24 Doctorial Consortiums.
- **[Jul. 2024]** Our Paper on Improving Robustness against Privacy Attacks is accepted @ECCV'24.
- **[Jul. 2024]** Serve as Reviewer of Women in Computer Vision (WiCV) @ECCV'24.
- **[Mar. 2024]** Received Dartmouth Graduate Student Council Travel Grant for ICASSP 2024.
- **[Feb. 2024]** Our Paper on Audio Robustness is accepted @ICASSP 2024 Workshop.
- **[Jan. 2024]** Awarded Cybersecurity Cluster Research Fellow.
- **[Nov. 2023]** Passed my PhD Thesis Proposal.
- **[Aug. 2023]** Presented Research Poster @ ACM ICONS, Santa Fe, NM.
- **[Jul. 2023]** Presented my paper @ IEEE CSF 2023.
- **[Jun. 2023]** Started Internship @ the Los Alamos National Laboratory (LANL), NM.
- **[May. 2023]** Serve AE Committee, USENIX Security'23.
- **[May. 2023]** Attended NSF SaTC Aspiring PI Workshop, George Washington University, DC.
- **[Apr. 2023]** My paper on Model Inversion Attack Review got accepted @IEEE CSF 2023.
- **[Feb. 2023]** Presented my paper @IEEE SaTML 2023.
- **[Nov. 2022]** My paper on Synthetic data-based Privacy Attack got accepted @IEEE SaTML 2023.
- **[Jun. 2022]** Started Internship @ Financial Industry Regulatory Authority (FINRA), MA.
- **[Mar. 2022]** Passed my PhD Research Presentation Exam (RPE).
- **[Feb 2022]** Our paper on Novel Model Inversion Attack got accepted @ USENIX Security'22.
- **[May. 2021]** Serve as the Co-Chair (CARE), Dartmouth Graduate Student Council (GSC).
- **[Mar. 2021]** Our paper on On-Phone Implicit Authentication was accepted @ EAI SaSeIoT'21.



{% include_relative _includes/publications.md %}

{% include_relative _includes/services.md %}
